* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 0;
    border: 3px black solid;
    padding: 0 2rem;
    color: black;
  }

.rec {
    color: white;
    text-align: left;
    padding: 4rem 2rem 2rem 2rem;
    background: #393e46;
    border: 5px black solid;
    position: relative;
    margin: 1rem;
}

.rec1 h2{
    background: skyblue;
}

.rec2 h2{
    background: yellowgreen;
}

.rec3 h2{
    background: plum;
}

@media (min-width:992px){
    .row{
        display: flex;
    }
}

@media (max-width:767px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
}
